
/* Your CSS Code here. */
#skills{
    background-color: aquamarine;
    font-size: medium;
    height: 50px;
    width: 35px;
}
#project{
    background-color: aquamarine;
    font-size: medium;
    height: 50px;
    width: 35px;
}